<!DOCTYPE html>
<html>
	<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	</head>
	<body>
		<input placeholer="조회 할 id 입력" class="user-id">
		<button type="button" class="search-button">조회</button>
		
		<div class="result=container">
		</div>
		
		<script type="text/javascript">
			window.onload = () => {
			}
			
			function addSearchButtonEvent() {
				const searchbutton = document.querySelector(".search-button");
				searchButton.onclick = () => {
					search();
				}
			}
			
			function search() {
				const userId = document.querySelector(".user-id").value;
				
				const request = {
						type: "get", //method
						url: "http://localhost:8080/api/user" + userId,
						dataType: "json", //응답 데이터 타입
				}
			}
		</script>
	</body>
</html>